<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springtemplate.system.setting.mapper.RoleMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.springtemplate.system.setting.entity.Role">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="name" property="name" />
        <result column="remark" property="remark" />
        <result column="data_scope" property="dataScope" />
        <result column="level" property="level" />
    </resultMap>

    <!--RoleVO映射结果-->
    <resultMap id="RoleVO" type="com.springtemplate.security.VO.RoleVO">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="name" property="name" />
        <result column="remark" property="remark" />
        <result column="data_scope" property="dataScope" />
        <result column="level" property="level" />
        <collection property="permissions"  ofType="com.springtemplate.system.setting.entity.Permission">
            <id column="perid" property="id" />
            <result column="alias" property="alias" />
            <result column="create_time" property="createTime" />
            <result column="name" property="name" />
            <result column="pid" property="pid" />
        </collection>
        <collection property="menus" ofType="com.springtemplate.system.setting.entity.Menu">
            <id column="menuid" property="id"  />
            <result column="menu_create_time" property="createTime" />
            <result column="i_frame" property="iFrame" />
            <result column="name" property="name" />
            <result column="component" property="component" />
            <result column="pid" property="pid" />
            <result column="sort" property="sort" />
            <result column="icon" property="icon" />
            <result column="path" property="path" />
        </collection>
    </resultMap>

    <!--包含关联查询字段冲突-->
    <select id="getRoleVOByRoleIds" resultMap="RoleVO">
      select a.*,
      b.id as perid,b.alias,b.create_time,b.name,b.pid,
      c.id as menuid,c.create_time as menu_creat_time,c.i_frame,c.name,c.component
      from role a,permission b,menu c,roles_permissions d,roles_menus e
      where a.id = d.role_id
      and b.id = d.permission_id
      and a.id = e.role_id
      and c.id = e.menu_id
      and a.id = #{id}
    </select>


</mapper>
